<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated f -->
      <package
            uri="http://q-impress.eu/sourcecodedecorator"
            class="org.somox.sourcecodedecorator.SourcecodedecoratorPackage"
            genModel="model/f.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated f -->
      <parser
            type="sourcecodedecorator"
            class="org.somox.sourcecodedecorator.util.SourcecodedecoratorResourceFactoryImpl"/>
   </extension>
</plugin>
