<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="TestStartExtendingJob"
         point="de.uka.ipd.sdq.workflow.job">
      <workflow_job
            extension_job="org.somox.analyzer.simplemodelanalyzer.ui.test.TestStartExtendingJob"
            workflow_id="org.somox.analyzer.simplemodelanalyzer.launch.start">
      </workflow_job>
   </extension>
   <extension
         point="de.uka.ipd.sdq.workflow.job">
      <workflow_job
            extension_job="org.somox.analyzer.simplemodelanalyzer.ui.test.TestModelAvailableExtendingJob"
            workflow_id="org.somox.analyzer.simplemodelanalyzer.launch.modelavailable">
      </workflow_job>
   </extension>
   <extension
         point="de.uka.ipd.sdq.workflow.job">
      <workflow_job
            extension_job="org.somox.analyzer.simplemodelanalyzer.ui.test.TestEndExtendingJob"
            workflow_id="org.somox.analyzer.simplemodelanalyzer.launch.end">
      </workflow_job>
   </extension>

</plugin>
