            <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/branches/release5.2.0/" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/branches/release5.2.0/" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/branches/release5.2.0/" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/branches/release5.2.0/" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-addons-fluentapimodelgenerator/branches/release5.2.0/" />
