<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://somox.org/provreqid"
            class="org.somox.provreqid.ProvreqidPackage"
            genModel="model/provreqid.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="provreqid"
            class="org.somox.provreqid.util.ProvreqidResourceFactoryImpl"/>
   </extension>

</plugin>
