<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.somox.org/metricDSL/1.0" 
       class = "org.somox.metrics.dsl.metricDSL.MetricDSLPackage"
       genModel = "model/generated/MetricDSL.genmodel" /> 
	
  </extension>



</plugin>
