<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.fzi.sissy.ui.LaunchSISSyType">
<intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="2"/>
<listAttribute key="sissy.problempatterndetection.table"/>
<stringAttribute key="sissy2gast.cdtversion" value="CDT 3"/>
<booleanAttribute key="sissy2gast.checkcloneanalysis" value="false"/>
<booleanAttribute key="sissy2gast.checkcomments" value="false"/>
<booleanAttribute key="sissy2gast.checkdashboardgenerator" value="false"/>
<booleanAttribute key="sissy2gast.checkexportyesno" value="true"/>
<booleanAttribute key="sissy2gast.checkproblemanalysis" value="false"/>
<booleanAttribute key="sissy2gast.checkrunsissy" value="true"/>
<stringAttribute key="sissy2gast.combosourcelevel" value="5.0"/>
<stringAttribute key="sissy2gast.dbdriverselection" value="DERBY"/>
<stringAttribute key="sissy2gast.dbname" value="sissy"/>
<stringAttribute key="sissy2gast.dbpwd" value="sissy"/>
<stringAttribute key="sissy2gast.dbserverurl" value=""/>
<stringAttribute key="sissy2gast.dbuser" value="sissy"/>
<stringAttribute key="sissy2gast.derbyfilepath" value="C:\Temp\sissydb"/>
<stringAttribute key="sissy2gast.freeparameters" value=""/>
<stringAttribute key="sissy2gast.gastexprfile" value="C:\code\runtime-gast2seff\org.somox.tests.SoMoXCCTest\SoMoXCCTest-exp.gast"/>
<booleanAttribute key="sissy2gast.gastexprfilecheck" value="true"/>
<stringAttribute key="sissy2gast.gastfile" value="C:\code\runtime-gast2seff\org.somox.tests.SoMoXCCTest\SoMoXCCTest.gast"/>
<booleanAttribute key="sissy2gast.gastfilecheck" value="true"/>
<stringAttribute key="sissy2gast.gastmergedfile" value="C:\code\runtime-gast2seff\org.somox.tests.SoMoXCCTest\SoMoXCCTest-out.gast"/>
<booleanAttribute key="sissy2gast.gasttomerge" value="true"/>
<booleanAttribute key="sissy2gast.omitexternc" value="false"/>
<booleanAttribute key="sissy2gast.optioncpp" value="false"/>
<booleanAttribute key="sissy2gast.optionjava" value="true"/>
<stringAttribute key="sissy2gast.sqlitefilepath" value=""/>
<stringAttribute key="sissy2gast.textdashboardgeneratortarget" value=""/>
<stringAttribute key="sissy2gast.textdefinitionfile" value=""/>
<stringAttribute key="sissy2gast.textexclude" value=""/>
<stringAttribute key="sissy2gast.textincludefile" value=""/>
<stringAttribute key="sissy2gast.textinputfile" value="C:\code\runtime-gast2seff\org.somox.tests.SoMoXCCTest\src;"/>
<stringAttribute key="sissy2gast.textlibbin" value=""/>
<stringAttribute key="sissy2gast.textlibsrc" value=""/>
</launchConfiguration>
