<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="eu.qimpress.reverseengineering.gast2seff.contribution1"
            nameFilter="*samm_repository"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="GAST"
               path="additions"
               id="eu.qimpress.reverseengineering.gast2seff.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="GAST2SEFF"
               class="org.somox.gast2seff.popup.actions.GAST2SEFFAction"
               menubarPath="eu.qimpress.reverseengineering.gast2seff.menu1/group1"
               enablesFor="1"
               id="eu.qimpress.reverseengineering.gast2seff.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
