<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.ratio.Instability"
            id="org.somox.metrics.Instability"
            name="instability">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.naming.NameResemblance"
            id="org.somox.metrics.NameResemblance"
            name="nameResemblance">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.structure.SubsystemComponent"
            id="org.somox.metrics.SubsystemComponent"
            name="subsystemComponent">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.hierarchy.PackageMapping"
            id="org.somox.metrics.PackageMapping"
            name="packageMapping">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.ratio.DMS"
            id="org.somox.metrics.DMS"
            name="dms">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.structure.SliceLayerArchitectureQuality"
            id="org.somox.metrics.SliceLayerArchitectureQuality"
            name="slaq">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.ratio.Coupling"
            id="org.somox.metrics.Coupling"
            name="coupling">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.ratio.AdherenceToInterfaceCommunication"
            id="org.somox.metrics.AdherenceToInterfaceCommunication"
            name="AdherenceToInterfaceCommunication">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.ratio.Abstractness"
            id="org.somox.metrics.Abstractness"
            name="abstractness">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.hierarchy.DirectoryMapping"
            id="org.somox.metrics.DirectoryMapping"
            name="directorymapping">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.AbstractTypesCount"
            id="org.somox.metrics.basic.AbstractTypesCount"
            name="abstractTypesCount">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.ExternalAccessesCount"
            id="org.somox.metrics.basic.ExternalAccessesCount"
            name="externalAccessesCount">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.InterfaceAccessesCount"
            id="org.somox.metrics.basic.InterfaceAccessesCount"
            name="InterfaceAccessesCount">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.InternalAccessesCount"
            id="org.somox.metrics.basic.InternalAccessesCount"
            name="InternalAccessesCount">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.TotalTypesCount"
            id="org.somox.metrics.basic.TotalTypesCount"
            name="TotalTypesCount">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.EfferentCoupling"
            id="org.somox.metrics.basic.EfferentCoupling"
            name="EfferentCoupling">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metric
            class="org.somox.metrics.basic.AfferentCoupling"
            id="org.somox.metrics.basic.AfferentCoupling"
            name="AfferentCoupling">
      </metric>
   </extension>
   <extension
         point="org.somox.core.metric">
      <metricformula
            id="org.somox.metrics.dsltest"
            metric_definition="metricformulas/test.metrics">
      </metricformula>
   </extension>

<!--
   <extension
         point="org.somox.core.metric">
      <metricformula
            id="org.somox.metrics.testformula"
            metric_definition="metricformulas/test.metric">
      </metricformula>
   </extension>
-->
</plugin>
