<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="SoMoX - SOftware MOdel eXtractor"
    sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="de.uka.ipd.sdq.identifier.feature.feature.group"
                version="4.3.0.202008200031" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.palladiosimulator.pcm.feature.feature.group"
                version="4.3.0.202008200048" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="de.uka.ipd.sdq.workflow"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="de.uka.ipd.sdq.workflow.mdsd"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.palladiosimulator.pcm.edit"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.emftext.language.java" version="0.0.0"/>
			<unit id="org.emftext.language.java.edit" version="0.0.0"/>
			<unit id="org.emftext.commons.jdt" version="0.0.0"/>
			<unit id="org.emftext.commons.layout.edit" version="0.0.0"/>
			<unit id="jamopp.resource" version="0.0.0"/>
            <repository location="https://updatesite.palladio-simulator.com/palladio-reverseengineering-java/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.palladiosimulator.generator.fluent.source" version="5.0.0.202110221124" />
            <unit id="org.palladiosimulator.generator.fluent" version="5.0.0.202110221124" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-addons-fluentapimodelgenerator/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit">
            <unit id="org.yaml.snakeyaml"
                version="0.0.0" />
            <repository location="https://download.eclipse.org/releases/2021-12/202112081000/" />
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" refresh="true" type="InstallableUnit">
            <unit id="org.palladiosimulator.generator.fluent" version="5.0.0.202110221124" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-addons-fluentapimodelgenerator/nightly/" />
        </location>
        <location includeAllPlatforms="false"
                includeConfigurePhase="true"
                includeMode="planner"
                includeSource="false"
                type="InstallableUnit"
                filter="nightly">
                <unit id="tools.mdsd.library.emfeditutils.feature.feature.group"
                    version="0.0.0" />
                <repository location="https://updatesite.mdsd.tools/library-emfeditutils/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="release">
            <unit id="tools.mdsd.library.emfeditutils.feature.feature.group"
                version="0.0.0" />
            <repository location="https://updatesite.mdsd.tools/library-emfeditutils/releases/latest/" />
        </location>
    </locations>
</target>
