<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="SoMoX - SOftware MOdel eXtractor"
    sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="de.uka.ipd.sdq.identifier.feature.feature.group"
                version="4.3.0.202008200031" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.palladiosimulator.pcm.feature.feature.group"
                version="4.3.0.202008200048" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="de.uka.ipd.sdq.workflow"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="de.uka.ipd.sdq.workflow.mdsd"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.palladiosimulator.pcm.edit"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.emftext.language.java.feature.feature.group"
                version="4.3.0.202008171246" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-eclipsejavadevelopmenttools/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            refresh="true"
            type="InstallableUnit">
            <unit id="org.palladiosimulator.generator.fluent_api"
                version="4.3.0.202008200051" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-addons-fluentapimodelgenerator/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit">
            <unit id="org.yaml.snakeyaml"
                version="1.27.0.v20201111-1638" />
            <repository location="http://download.eclipse.org/releases/2020-12/202012161000/" />
        </location>
    </locations>
</target>
