<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MetricValues2 -->
      <package
            uri="http://metricvalues/1.0"
            class="metricvalues.MetricvaluesPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated MetricValues2 -->
      <parser
            type="metricvalues"
            class="metricvalues.util.MetricvaluesResourceFactoryImpl"/>
   </extension>

</plugin>
