<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.somox.qimpressgast.presentation.somoxgastModelWizardID"
            name="%_UI_somoxgastModelWizard_label"
            class="org.somox.qimpressgast.presentation.somoxgastModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/somoxgastModelFile.gif">
         <description>%_UI_somoxgastModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.somox.qimpressgast.presentation.somoxgastEditorID"
            name="%_UI_somoxgastEditor_label"
            icon="icons/full/obj16/somoxgastModelFile.gif"
            extensions="samm_gastbehaviour"
            class="org.somox.qimpressgast.presentation.somoxgastEditor"
            contributorClass="org.somox.qimpressgast.presentation.somoxgastActionBarContributor">
      </editor>
   </extension>

</plugin>
