<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://SOMOX_MODELS/"
       target="platform:/plugin/org.somox.resources.defaultmodels/defaultModels/">
    </mapping>
  </extension>   
</plugin>
